<div class="main-footer" fxLayout="row" fxLayoutAlign="space-between">
  <div class="flex-start footer-wrapper" fxLayout="row" fxLayoutAlign="space-around center">
    <a href="" class="insta-link soc-link">Instagram</a>
    <a href="" class="facebook-link soc-link">Facebook</a>
    <a href="" class="twitter-link soc-link">Twitter</a>
  </div>


  <mat-divider vertical="true" class="my-divider"></mat-divider>
  <div class="flex-center footer-wrapper" fxLayout="row" fxLayoutAlign="space-around center" >
    <img src="../assets/footer-images/maestro.png" alt="" class="bank-card maestro-img">
    <img src="../assets/footer-images/visa.png" alt="" class="bank-card visa-img">
    <img src="../assets/footer-images/mastercard.png" alt="" class="bank-card mastercard-img">
  </div>


  <mat-divider vertical="true" class="my-divider"></mat-divider>
  <div class="flex-end footer-wrapper" fxLayout="row" fxLayoutAlign="space-around center">
  <small class="inc">TaxiService Inc©</small>

  </div>
</div>