<div class="inner-container">
  <h1 mat-dialog-title class="gialog-title">Sign in</h1>
  <div mat-dialog-content class="dialog-content">
    <!-- <form action="" class="dialog-form"> -->


    <p> Phone number: </p>
    <mat-form-field>
      <mat-label>Phone number</mat-label>
      <input matInput>
    </mat-form-field>

    <p> Password: </p>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput>
    </mat-form-field>

    <!-- </form> -->

  </div>
  <div mat-dialog-actions class="submit-container">
    <button mat-raised-button color="primary" mat-dialog-close class="submit-btn">Sign in </button>
  </div>
</div>