<mat-toolbar class="navbar">
  <div class="navbar-brand">Brand</div>
  <div class="navbar-content">
    <button mat-button>Clients</button>
    <button mat-button>Orders</button>
    <button mat-button>Cars</button>
  </div>
</mat-toolbar>

<mat-grid-list class="maincontainer" cols="4" rows="5" rowHeight="200px">
  <mat-grid-tile class="grid-component" colspan="2">Component 1</mat-grid-tile>
  <mat-grid-tile class="grid-component">Component 2</mat-grid-tile>
  <mat-grid-tile class="grid-component">Component 3</mat-grid-tile>
  <mat-grid-tile class="grid-component">Component 4</mat-grid-tile>
  <mat-grid-tile class="grid-component">Component 5</mat-grid-tile>
</mat-grid-list>

<button mat-raised-button (click)="openDialog()">Sign up</button>
<button mat-raised-button (click)="openDialog1()">Sign in</button>
<h3 *ngIf = "first_name"> Your name:  <i>{{first_name}}</i></h3>

