<div class="inner-container">
  <div class="dialog-header" fxLayout="row" fxLayoutAlign="center">
    <h1 mat-dialog-title class="gialog-title">Додати нового водія</h1>
  </div>


  <div mat-dialog-content class="dialog-content">

    <h3> Персональна інформація</h3>
    <div class="personal-details" fxLayout="row" fxLayoutGap="10px">

      <div fxLayout="column" fxLayoutGap="10px" fxLayouAlign="strech">
        <mat-form-field>
          <mat-label>Ім'я </mat-label>
          <input matInput [(ngModel)]="first_name"  required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Дата народження </mat-label>
          <input matInput [matDatepicker]="BirthDatePicker">
          <mat-datepicker-toggle matSuffix [for]="BirthDatePicker" required></mat-datepicker-toggle>
          <mat-datepicker #BirthDatePicker></mat-datepicker>
        </mat-form-field>
      </div>


      <div fxLayout="column" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label> По-батькові </mat-label>
          <input matInput [(ngModel)]="second_name" required>
        </mat-form-field>


        <mat-form-field>
          <mat-label>Номер телефону </mat-label>
          <input matInput [(ngModel)]="personal_phone" required>
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>


      </div>


      <div fxLayout="column" fxLayoutGap="10px">

        <mat-form-field>
          <mat-label> Прізвище </mat-label>
          <input matInput [(ngModel)]="last_name" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Водійське посвідчення</mat-label>
          <input matInput [(ngModel)]="driving_license">
          <mat-icon matSuffix >assignment_ind</mat-icon>
        </mat-form-field>


      </div>
    </div>


    <div>Місце проживання</div>

    <div class="adress-details" fxLayout="row" fxLayoutGap="10px">

      <div fxLayout="column" fxFlex="200.99px" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label> Область </mat-label>
          <input matInput [(ngModel)]="region" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label> Будинок </mat-label>
          <input matInput [(ngModel)]="building" required>
        </mat-form-field>
      </div>


      <div fxLayout="column" fxFlex="200.99px" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label> Місто </mat-label>
          <input matInput [(ngModel)]="City" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label> Квартира </mat-label>
          <input matInput [(ngModel)]="flat">
        </mat-form-field>
      </div>

      <div fxLayout="column" fxFlex="200.99px" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label> Вулиця </mat-label>
          <input matInput [(ngModel)]="street" required>
        </mat-form-field>
      </div>

    </div>


    <h1 class="shift-title" mat-dialog-title>Зміна</h1>

    <div [(ngModel)]="labelPosition">
      <mat-radio-group [(ngModel)]="salary" fxLayout="row" fxLayoutGap="20px">
        <mat-radio-button class="example-margin" value="1">08:00 - 20:00</mat-radio-button>

        <mat-radio-button class="example-margin" value="2">20:00 - 8:00</mat-radio-button>
      </mat-radio-group>
    </div>


  </div>
  <div mat-dialog-actions class="submit-container" fxLayout="row" fxLayoutAlign="center">
    <button mat-raised-button color="primary" mat-dialog-close class="submit-btn"> Додати</button>
  </div>
</div>